@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";

}




<div class="row sm-1 mb-2 lg-3 xl-4">
       @{ foreach (var item in Model)
        {
            <partial name="_BoxProduct" model="item" />
        }
        }
        </div>
    
