@model Mode_Product




<form method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Company"></label>
            <input asp-for="Company" class="form-control" id="inputEmail4" placeholder="رنو">
        </div>


        <div class="form-group col-md-6">
            <label asp-for="Model"></label>
            <input asp-for="Model" class="form-control" id="inputEmail4" placeholder="ال نود">
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Color"></label>
            <input asp-for="Color" class="form-control" id="inputEmail4" placeholder="ابی">
        </div>
        
        
        
        <div class="form-group col-md-6">
            <label asp-for="Number_Plate"></label>
            <input asp-for="Number_Plate" class="form-control" id="inputEmail4" placeholder=" پلاک 89ط255 ایران 10">
        </div>



        <div class="form-group col-md-6">
            <label asp-for="Phone_Number"></label>
            <input asp-for="Phone_Number" class="form-control" id="inputEmail4" placeholder="شماره تماس">
        </div>
        
        
        <div class="form-group col-md-6">
            <label asp-for="Details"></label>
            <input asp-for="Details" class="form-control" id="inputEmail4" placeholder="توضیحات">
        </div>


        <div class="form-group col-md-6">
            <label asp-for="Photo"></label>
            <input  asp-for="Photo" class="form-control" id="inputEmail4" placeholder="عکس">
        </div>









       <br />
     
   
   
    <div class="form-group">
        
    </div>
    <button type="submit" class="btn btn-primary">ثبت</button>
</form>